<!DOCTYPE html>

{% load statuses %}

<html>
    <head>
        <title>DISTING: {% block childpagename %}base{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}interface/res/gh-buttons.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}interface/css/interface.css" />

        {% block script %}
        <!-- script includes for pages that need this -->
        {% endblock %}

        {% block style %}
        <!-- provides a place for inheriting pages to add custom styles -->
        {% endblock %}
    </head>

    <body>
        <div id="trunk">
            <div id="header">
                <h1><a id="homelink" href="{% url 'interface:home' %}">DISTING</a> : {% block childpagename2 %}Model Distinguishability Tool{% endblock %}</h1>

                <div class="login_widget">
                {% if user.is_authenticated %}
                logged in as <b>{{ user }}</b> - <a href="{% url 'interface:interface_logout' %}">log out</a>
                {% else %}
                not logged in - <a href="{% url 'interface:home_auth' %}">log in</a>
                {% endif %}
                </div>
            </div>

            <div id="content">
            {% block content %}{% endblock %}
            </div>

            <div id="footer"></div>
        </div>
    </body>
</html>
