{% extends "base.html" %}

{% block childpagename %}Home{% endblock %}

{% block style %}
<style>
p { text-indent: 1em; }

#choices_tray {
    padding: 5px 20px 20px;
}

#choices_tray a {
    width: 400px;
    background: #f4f4f4;
    border: solid 1px #ccc;
    border-bottom: solid 5px #ccc;
    padding: 15px;
    text-decoration: none; display: block;
    padding-left: 75px;
    background-repeat: no-repeat;
    background-position: 14px 45%;
    margin-bottom: 1em;
    color: #3884cd;
    position: relative;
}

#choices_tray a:hover {
    color: #599bdc;
    background-color: white;
    top: -1px;
}

#choices_tray a h3 { margin: 0px; }
#choices_tray a p {
    text-indent: 0; color: #555;
    margin: 5px 3px 3px 0px;
}

strong.uber { font-size: larger; }

ol.refs {
    list-style-type: none; margin-left: 0; padding-left: 0;
}

p { text-indent: 0; }
div.notes { font-size: smaller; }

hr.dotted {
    border:none;
    border-top:1px dotted #aaa;
    color:#fff;
    background-color:#fff;
    height:1px;
    width:100%;
}

#choices_tray a#queue_selection { background-image: url('{{ STATIC_URL }}icons/cc/black/list_bullets_icon&48.png'); }
#choices_tray a#addjob_selection { background-image: url('{{ STATIC_URL }}icons/cc/black/round_plus_icon&48.png'); background-position: 11px 45%; }
</style>
{% endblock %}

{% block content %}
    <p>Welcome to <strong class="uber">DISTING</strong>, a tool for generating alternative structurally identifiable <em>linear compartmental (LC) models</em>* that are <strong><em>input-output indistinguishable</em></strong> from a postulated LC model [1,2].</p>

    <p>
    <strong class="uber">App Usage</strong><br />
    The site is centered around a <strong>job queue</strong> showing job status and results.  Users can create, rerun or check job status in the queue.
    </p>

    <p>
    <strong class="uber">User Entry of Model to be Tested (Model 0):</strong> This is done on the <strong class="uber">add job</strong> page simply by <em>checking boxes</em> where entries exist in one matrix and 2 vectors. The first is the adjacency (connection) matrix <em>A</em> of graph theory, where entry <em>a<sub>i,j</sub></em> is checked to indicate a link to compartment <em>i</em> from compartment <em>j</em>; and <em>a<sub>i,i</sub></em>  is checked to indicate elimination (a leak) from compartment <em>i</em>. Vectors <em>R</em> and <em>M</em> get checked entries to specify the <em>input and output locations</em> in the LC model.
    </p>

    <p>
    <strong class="uber">Graphical results</strong> show the original Model 0 and the structurally identifiable Models 1, 2, &hellip;, all downloadable in png format using Google Chrome, Firefox or Safari. The models can be interactively rearranged by <b>left-clicking and dragging</b> on a node.
    </p>

    <p>
    Jobs start in <strong class="uber">pending</strong> status, move to <strong class="uber">running</strong> (one at a time) and finally to <strong class="uber">complete</strong> If an error occurs, the status changes to <strong class="uber">error</strong>.  Job processing time depends on the number of simultaneous server job requests.
    </p>

    <hr class="dotted" />

    <div class="notes">
        <p>* LC models can be expressed by a set of first-order differential equations in vector-matrix form:  <em>d<strong>x</strong>/dt = Kx + Bu</em> with outputs:  <em>y = Cx</em>.  Here <strong><em>x</em></strong> are state variables (quantities or concentrations). The compartment matrix <em>K</em> consists of rate constants between compartments (off-diagonal); and of the negative of the sum of rate constants from each compartment, including leaks to the environment (on-diagonal). The input vector <em>B</em> contains input gains, while the output vector C contains measurement gains.  DISTING requires only the <em>connectivity</em> of LC models to run, expressed in the equivalent model graph theory representation <em>A</em>, <em>R</em>, <em>M</em>.
        </p>

        <ol class="refs">
            <li>[1] M.J. Chapman and K.R. Godfrey (1989): A methodology for compartmental model indistinguishability, Math Biosci, <strong>96</strong>, pp. 141-164</li>
            <li>[2] L-Q. Zhang, J.C. Collins and P.H. King (1991): Indistinguishability and identifiability analysis of linear compartmental models, Math Biosci, <strong>103</strong>, pp.77-95</li>
        </ol>
    </div>


    <h2>Actions</h2>

    <div id="choices_tray">
        <a id="queue_selection" href="{% url 'interface:queue' %}">
            <h3>View the Job Queue</h3>
            <p>view jobs, modify job statuses, edit individual jobs</p>
        </a>

        <a id="addjob_selection" href="{% url 'interface:addjob' %}">
            <h3>Create a New Job</h3>
            <p>add new jobs to the queue</p>
        </a>
    </div>

{% endblock %}
