{% extends "base.html" %}

{% block childpagename %}Queue{% endblock %}
{% block childpagename2 %}Queue{% endblock %}

{% block script %}
    <script type="text/javascript" language="JavaScript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" language="JavaScript">
    $(document).ready(function() {
        var refreshTimer = null;

        function syncRefresh() {
            if ($("#autorefresh_queue").is(":checked")) {
                refreshTimer = setInterval(function() {
                    console.log("refreshing...");

                    // delete everything in the task list div and refresh it
                    $.get("/DISTING/queue", function(html) {
                        $("#task_list").replaceWith($("#task_list", $(html)));
                    });
                }, 3000);
            }
            else {
                clearInterval(refreshTimer);
            }
        }

        // when the 'allow autorefresh' box is checked, automatically refresh the queue
        $("#autorefresh_queue").change(function() {
            syncRefresh();
        });

        // and check if we should auto-refresh initially, too
        syncRefresh();
    })
    </script>
{% endblock %}

{% block content %}
<p>Below is your job queue, which shows the jobs that you've added that are pending, in progress, and completed.</p>

    <div class="queue">
        <div style="margin-bottom: 1em; text-align: left; width: 600px;">
            <a class="button icon add" style="width: 80px;" href="{% url 'interface:addjob' %}">Add Job</a>
            <a class="button icon reload" style="width: 80px; margin-left: 2px;" href="{% url 'interface:queue' %}">Refresh</a>

            <label>
                <input type="checkbox" id="autorefresh_queue" checked />
                auto-refresh queue (once every 3 seconds)
            </label>
        </div>

        <table id="task_list" class="task_list" style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr class="task_header">
                <td>Name</td>
                <td>Submitted @</td>
                <td>Running For</td>
                <td>Status</td>
                <td>&nbsp;</td>
            </tr>

            {% for job in jobs %}
                <tr class="{% cycle 'reg' 'alt' %}">
                    <td>{{ job.name }}</td>
                    <td>{{ job.created_on }}</td>
                    <td>{{ job.interval }}</td>
                    <td><span class="status_{{ job.status }}">&bullet; {{ job.status }}</span></td>
                    <td style="text-align: right;">
                        {% if job.status == 'error' %}
                        <a class="button icon loop" style="width: 80px;" href="{% url 'interface:resubmitjob' job.id %}">Resubmit</a>
                        {% endif %}
                        <a class="button icon search" style="width: 80px; margin-left: 2px;" href="{% url 'interface:viewjob' job.id %}">View Results</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="4"><i>no jobs have been submitted yet...</i></td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}